// VARIABLES
$main-color: #7529ed;
$main-color-light: #7f54f7;
$sub-color: #FFBF46;
$sub-color-light: #ffe346;
$trim-color: #4AC64E;
$accent-color: #92B4F4;
$light-color: #EDE7F8;
$transparent-dark-color: rgba(60, 60, 60, 0.75);

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    3% { transform: rotate(10deg); }
    6% { transform: rotate(-10deg); }
    9% { transform: rotate(10deg); }
    12% { transform: rotate(-10deg); }
    15% { transform: rotate(10deg); }
    18% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}

.shake {
    animation: shake 5s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

body {
    background-color: $light-color ;
}

// NAV BAR
.rbx-nav-full-container {
    display: flex;
    // border-bottom: 4px solid $accent-color;
    
    .rbx-nav-full-logo {
        order: 0;
        width: 64px;
        height: 64px;
        background-color: $light-color;
        outline: solid $main-color 8px;
        border-radius: 96px;
    
        position: absolute;
        margin-top: 12px;
        margin-left: 32px;
    }
    .rbx-nav-full-company-name {
        order: 1;
        font-family: 'Rubik Mono One', sans-serif;
        font-size: 42px;
        color: white;
    
        box-shadow: inset -7px 0 8px -6px rgba(0,0,0,0.4);
        background-color: $main-color;
        padding-left: 112px;
        padding-right: 20px;
    }

    .rbx-nav-full-search {
        order: 2;
        display: flex;
        flex-grow: 1;
        background-color: $main-color-light;
        // background-color: red;
        padding-left: 16px;
        padding-right: 8px;

        .rbx-nav-full-searchbox {
            display: flex;
            flex-grow: 1;
            min-width: 248px;
            max-width: 400px;
            margin-top: auto;
            margin-bottom: auto;
            border-radius: 28px;
            background-color: $light-color;
            // background-color: lime;

            .rbx-nav-full-searchbox-icon {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 8px;
                margin-right: 4px;
                font-size: 24px;
                color: $main-color-light;
            }
            .rbx-nav-full-searchbox-input {
                flex-grow: 1;
                min-width: 10px;
                border-radius: 0 28px 28px 0;
                border: none;
                font-size: 24px;
                padding-left: 8px;
                padding-right: 12px;
            }
            .rbx-nav-full-searchbox-input:focus {
                outline: none;
            }
        }
        .rbx-nav-full-searchbox:focus-within {
            outline: solid $main-color 4px;
            .rbx-nav-full-searchbox-icon {
                color: $main-color;
            }
        }
    }

    .rbx-nav-full-user {
        order: 3;
        display: flex;
        background-color: $main-color-light;

        .rbx-nav-full-user-msg {
            margin-top: auto;
            margin-bottom: auto;
            display: flex;
            flex-wrap: nowrap;

            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300px;
            font-size: 24px;
            color: $light-color;
        }
        .rbx-nav-full-user-dropdown {
            margin-top: auto;
            margin-bottom: auto;
            color: $light-color;
        }
    }

    .rbx-nav-full-notif {
        order: 4;
        display: flex;
        background-color: $main-color-light;
        padding-left: 8px;
        padding-right: 8px;

        .rbx-nav-full-notif-icon {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 36px;
            color: $sub-color-light;
            position: relative;

            .notif-pip {
                height: 12px;
                width: 12px;
                background-color: #FF3030;
                border-radius: 100%;
    
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }
        
    }

    .rbx-nav-full-cart {
        order: 5;
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        background-color: $trim-color;

        .rbx-nav-full-cart-icon {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 36px;
            color: $light-color;
        }
        .rbx-nav-full-cart-text {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 24px;
            font-family: 'Rubik', sans-serif;
            color: white;
        }
    }
    
}

.rbx-categories-container {
    display: flex;
    flex-wrap: wrap;

    width: 95%;
    margin: 24px auto;

    .rbx-category-box {
        display: flex;
        flex-grow: 1;

        border-bottom: solid 6px $main-color;
        padding: 6px 4px 2px 4px;

        .rbx-category-text {
            margin: 0 auto;
            font-size: 24px;
            font-family: 'Rubik', sans-serif;
            white-space: nowrap;
        }
    }
    .rbx-category-box:hover {
        background-color: $main-color-light;
        border-bottom: $main-color-light;

        .rbx-category-text {
            color: white;
        }
    }
    .rbx-category-selected {
        background-color: $main-color;

        .rbx-category-text {
            color: white;
        }
    }
}

// SHOP
.rbx-shop-container {
    display: grid;
    width: 95%;
    margin: 0 auto;
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap: 8px;

    .rbx-shop-itembox {
        // height: 300px;
        width: 100%;
        background-color: $main-color-light;
        border-radius: 8px;
        border: solid 6px $main-color-light;
        box-shadow: 4px 4px .8px 1px rgba($color: #000000, $alpha: 0.3);

        .rbx-shop-item-imagebox {
            position: relative;
        }
        .rbx-shop-item-image {
            width: 100%;
            aspect-ratio: 1 / 1;
                        
            border-radius: 5px;
            object-fit: cover;
            object-position: center;
        }
        .rbx-shop-item-price {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 6px 8px 0px 24px;

            background-color: $transparent-dark-color;
            border-radius: 64px 0 7px 0;

            font-size: 24px;
            font-family: 'Rubik', sans-serif;
            color: white;

            .rbx-shop-item-price-decimal {
                font-size: 20px;
            }
        }
        .rbx-shop-item-name {
            margin-top: 4px;
            padding: 0px 2px;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 300px;
            font-size: 18px;
            color: white;

            // Limits text to 2 lines only
            //     and adds elipsis if exceeds (...)
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    
}

@media (min-width: 768px) {
    .rbx-categories-container {
        width: 90%;
    }
    .rbx-shop-container {
        width: 90%;
        gap: 16px;
    }
}

@media (min-width: 1080px) {
    .rbx-categories-container {
        width: 80%;
    }
    .rbx-shop-container {
        width: 80%;
    }
    
}